@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x2bnvr');
  src:  url('../fonts/icomoon.eot?x2bnvr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x2bnvr') format('truetype'),
    url('../fonts/icomoon.woff?x2bnvr') format('woff'),
    url('../fonts/icomoon.svg?x2bnvr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e911";
}
.icon-arrow-up:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-best-price:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-checked:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-defense:before {
  content: "\e906";
}
.icon-free-delivery:before {
  content: "\e907";
}
.icon-grid:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-list:before {
  content: "\e90a";
}
.icon-loupe:before {
  content: "\e90b";
}
.icon-phone-call:before {
  content: "\e90c";
}
.icon-production:before {
  content: "\e90d";
}
.icon-shopping-cart:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-vk:before {
  content: "\e910";
}
