html,
body {
	min-height: 100vh;
}
body {
	@include font-gilroy;
	color: #000;
	&.modal-open {
		overflow: hidden;
	}
}
p {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}
.link {
	color: #000;
	transition: $transitionMain;
}
a {
	transition: $transitionMain;
	&:hover {
		color: $colorMain;
	}
}


.animated {
	animation-duration: $animDurationMain;
	animation-fill-mode: both;
	opacity: 0;
}
.page-title-rare {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	padding-bottom: 24px;
	margin-bottom: 40px;

	position: relative;
	&::before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0px;
		left: calc(50% - 32px);
		width: 64px;
		height: 3px;
		background-color:  #82BD52;
	}
}
.bg-main {
	background-color: $colorMain;
}


.block-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.block-text {
	color: #898989;
}
.title-rare {
	font-weight: 500;
	font-size: 72px;
	line-height: 85px;
	color: #F4F1EC;
	@media (max-width: 991px) {
		font-size: 48px;
		line-height: 54px;
	}
}
.title-line {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0px;
		bottom: 0px;
		height: 2px;
		width: 80px;
		background: #002C9C;
	}
	&.title-line_center {
		&:before {
			left: calc(50% - 40px);
		}
	}
}
.color-blue {
	color: #002C9C;
}
.font-weight-500 {
	font-weight: 500;
}
.font-14 {
	font-size: 14px;
	line-height: 16px;
}
.font-16 {
	font-size: 16px;
	line-height: 18px;
}
.font-lg-16 {
	@media (min-width: 992px) {
		font-size: 16px;
		line-height: 18px;
	}
}
.font-17 {
	font-size: 17px;
	line-height: 19px;
}
.font-18 {
	font-size: 18px;
	line-height: 24px;
}.font-22 {
	font-size: 22px;
	line-height: 26px;
}
.font-24 {
	font-size: 24px;
	line-height: 28px;
}
.font-32 { font-size: 32px; line-height: 34px; }
.font-34 { font-size: 34px; line-height: 38px; }
.font-36 { font-size: 36px; line-height: 38px; }

.font-lg-48 { @media (min-width: 992px) { font-size: 48px; line-height: 56px; } }
.font-50 {
	font-size: 50px;
	line-height: 64px;
}
.color-rare { color: #3F3E46; }
.color-666 { color: #666666!important; }
.color-black-full { color: #000!important; }

.pt-25 { padding-top: 25px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-70 { padding-top: 70px; } 
.pt-80 { padding-top: 80px; }
.pt-100 { padding-top: 100px; }

.pt-lg-50 { @media (min-width: 992px) { padding-top: 50px; } }
.pt-lg-65 { @media (min-width: 992px) { padding-top: 65px; } }
.pt-lg-75 { @media (min-width: 992px) { padding-top: 75px; } }
.pt-lg-80 { @media (min-width: 992px) { padding-top: 80px; } }
.pt-lg-100 { @media (min-width: 992px) { padding-top: 100px; } }
.pt-lg-115 { @media (min-width: 992px) { padding-top: 115px; } }
.pt-lg-130 { @media (min-width: 992px) { padding-top: 130px; } }

.pb-25 { padding-bottom: 25px; }
.pb-28 { padding-bottom: 28px; }
.pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; }
.pb-50 { padding-bottom: 50px; }
.pb-70 { padding-bottom: 70px; }
.pb-80 { padding-bottom: 80px; }
.pb-90 { padding-bottom: 90px; }
.pb-100 { padding-bottom: 100px; }
.pb-120 { padding-bottom: 120px; }

.pb-lg-50 { @media (min-width: 992px) { padding-bottom: 50px; } }
.pb-lg-100 { @media (min-width: 992px) { padding-bottom: 100px; } }
.pb-lg-120 { @media (min-width: 992px) { padding-bottom: 120px; } }
.pb-lg-150 { @media (min-width: 992px) { padding-bottom: 150px;	} }
.pb-lg-160 { @media (min-width: 992px) { padding-bottom: 160px;	} }
.pb-lg-180 { @media (min-width: 992px) { padding-bottom: 180px; } }
.pb-lg-185 { @media (min-width: 992px) { padding-bottom: 185px; } }
.pb-lg-200 { @media (min-width: 992px) { padding-bottom: 200px; } }
.pb-lg-260 { @media (min-width: 992px) { padding-bottom: 260px; } }


.pt-lg-160 {
	@media (min-width: 992px) {
		padding-top: 160px;
	}
}
.pb-lg-65 {
	@media (min-width: 992px) {
		padding-bottom: 65px;
	}
}
.pb-lg-80 {
	@media (min-width: 992px) {
		padding-bottom: 80px;
	}
}
.pt-lg-110 {
	@media (min-width: 992px) {
		padding-top: 110px;
	}
}
.pb-lg-110 {
	@media (min-width: 992px) {
		padding-bottom: 110px;
	}
}


.px-15 { padding-right: 15px; padding-left: 15px; }

.mb-13 { margin-bottom: 13px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-50 { margin-bottom: 20px; }
.mb-lg-70 { @media (min-width: 992px) { margin-bottom: 70px; } }