// .input-checkbox {
// 	display: inline-block;
// 	cursor: pointer;
// 	position: relative;
// 	input {
// 		display: none;
// 	}
// 	.text {
// 		font-weight: 500;
// 		font-size: 16px;
// 		line-height: 19px;
// 		color: #898989;
// 		padding-left: 34px;
// 	}
// 	.checkmark {
// 		position: absolute;
// 		left: 0px;
// 		top: calc(50% - 8px);

// 		width: 16px;
// 		height: 16px;
// 		border: 1px solid #898989;
// 		border-radius: 3px;

// 		&:before {
// 			content: "";
// 			display: block;
// 			position: absolute;
// 			left: 2px;
// 			top: calc(50% - 5px);
// 			width: 10px;
// 			height: 10px;
// 			border-radius: 100%;
			
// 		}
// 	}    
// 	input:checked + span + .checkmark {
// 		&:before {
// 			background-color: $colorMain;
// 		}
// 	}

// }

.custom-checkbox {
	.custom-control-label {
		cursor: pointer;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		&::before {
			width: 12px;
			height: 12px;
			top: calc(50% - 6px);
			background: #FFFFFF;
			border: 1px solid #666666;
			border-radius: 2px;
		}
		&:after {
			width: 12px;
			height: 12px;
			top: calc(50% - 6px);
		}
	}
	.custom-control-input:checked~.custom-control-label::before {
		border-color: #002C9C;
		background-color: #002C9C;
	}
	&.custom-checkbox_color {
		padding: 0px;
		margin-bottom: 25px;
		margin-right: 25px;
		.custom-control-label {
			display: block;
			width: 35px;
			height: 35px;
			background: #666666;
			border-radius: 100%;
			&:before {
				display: none;
			}
			&:after {
				background: none;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				font-family: 'icomoon' !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				color: #fff;
				font-size: 18px;
				width: unset;
				height: unset;
			}
		}
		.custom-control-input:checked~.custom-control-label::after {
			background: none;
			content: "\e904";
		}
		&.custom-checkbox_color_type-1 {
			.custom-control-label { background: #C4C4C4; }
		}
		&.custom-checkbox_color_type-2 {
			.custom-control-label { background: #77400F; }
		}
		&.custom-checkbox_color_type-3 {
			.custom-control-label { background: #EB5757; }
		}
		&.custom-checkbox_color_type-4 {
			.custom-control-label { background: #2F80ED; }
		}
		&.custom-checkbox_color_type-5 {
			.custom-control-label { background: #219653; }
		}
		&.custom-checkbox_color_type-6 {
			.custom-control-label { background: #F2C94C; }
		}
		&.custom-checkbox_color_type-7 {
			.custom-control-label { background: #333333; }
		}
		&.custom-checkbox_color_type-8 {
			.custom-control-label { background: #9B51E0; }
		}
	}
}
.slider-price-input {
	input {
		width: 90px;
		padding: 5px 0px;
		text-align: right;
	}
}
.ui-widget.ui-widget-content {
	height: 5px;
	background: #E5E5E5;
	border: 0px;
	border-radius: 10px;
}
.ui-widget-content .ui-state-default {
	border: 2px solid $colorMain;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: none;
}
.ui-widget-header {
	background-color: $colorMain;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
}
.catalog-order {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	select {
		text-align: right;
		border: 0px;

		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
}


input[type="number"] {
	width: 100px;
	border: 1px solid #898989;
	color: #495057;
	background-color: transparent;
	padding: 14px 20px 14px 40px;

	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.custom-radio {
	padding-left: 33px;
	cursor: pointer;
	.custom-control-label {
		font-size: 18px;
		line-height: 21px;
		color: #000000;cursor: pointer;
	}
	.custom-control-input {
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
	
}
.custom-radio .custom-control-label::before {
	cursor: pointer;
	width: 20px;
	height: 20px;
	top: calc(50% - 10px);
	left: -33px;
	border: 1px solid #666666;
}
.custom-control-input:checked~.custom-control-label::before {
	background: none;
	border: 1px solid #666666;
	box-shadow: unset;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	top: calc(50% - 5px);
	left: -28px;
	background: #002C9C;
}

.form-control {
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 15px 18px 7px 18px;
	border: 0px;

	font-size: 24px;
	line-height: 28px;
	color: #C4C4C4;
	&.form-control_empty {
		border: 1px solid #898989;
		background: none;
		padding: 14px 17px;
		color: #898989;
		border-radius: 0px;
	} 
	&.form-control_area {
		padding-top: 25px;
		padding-bottom: 25px;
		min-height: 283px;
	}
	&::-moz-placeholder { color: #C4C4C4; }
	&::-webkit-input-placeholder { color: #C4C4C4; }
	&::-ms-input-placeholder { color: #C4C4C4; }
	&::-ms-input-placeholder { color: #C4C4C4; }
	&::placeholder { color: #C4C4C4; } 
}
textarea.form-control {
	min-height: 142px;
	padding: 20px 13px;
}
.cart-block {
	padding-bottom: 70px;
}











.form-search {
	margin-right: 100px;
	display: flex;
	align-items: stretch;
	.form-search__btn {
		padding: 10px 24px;
		background: none;
		border: 0px;
		border-radius: 0px;

		font-size: 22px;
		color: #fff;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: $transitionMain;
		&:hover {
			background-color: #fff;
			color: #000;
		}
	}
	.form-search__input {
		border: 0px;
		border: 0px;
		background: none;

		border-bottom: 2px solid transparent;

		font-size: 14px;
		line-height: 16px;
		color: #FFFFFF;

		transition: $transitionMain;

		&::-moz-placeholder { color: #fff; }
		&::-webkit-input-placeholder { color: #FFFFFF; }
		&::-ms-input-placeholder { color: #FFFFFF; }
		&::-ms-input-placeholder { color: #fff; }
		&::placeholder { color: #fff; } 
		&:focus {
			outline: none;
			border-bottom: 2px solid #fff;
		}
	}
	@media (max-width: 1600px) {
		margin-right: 30px;
	}
}




.picker-number {
    &.picker-number_type-1 {
        width: 120px;
        display: flex;

        .picker-number__button {
            box-sizing: border-box;

            background: none;
            border-radius: 0px;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            padding: 0px;
            border: 1px solid  #E5E5E5;

            font-size: 18px;
            color:  #E5E5E5;

            transition: 
                box-shadow $transitionMain ease,
                color $transitionMain ease,
                border-color $transitionMain ease,
                background-color $transitionMain ease,
                transform $transitionMain / 4 ease;
            &:hover {
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            }
            &:focus {
                outline: none;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            }
            &:active {
                transform: scale(1.14);
            }
        }
        .picker-number__input {
            box-sizing: border-box;

            font-size: 18px;


            width: calc(100% - 60px);
            border: 0px;
            padding: 0px;
            margin: 0px;
            background: none;

            text-align: center;

            &[type='number'] { -moz-appearance:textfield; }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button { -webkit-appearance: none; }
        }

        &.picker-number_type-1_hover-1 {
            .picker-number__button {
                &:hover {
                    color:  #E5E5E5;
                    border-color: $colorMain;
                    background-color: $colorMain;
                }
            }
        }
        &.picker-number_type-1_hover-2 {
            .picker-number__button {
                &:hover {
                    color: $colorMain;
                    border-color: $colorMain;
                }
            }
        }
    }
}