.btn {
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 8px;

	color: #000000;
	padding: 12px 25px;

	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	color: #000;

	transition: $transitionMain;
	&:hover {
		background-color: #e5e3e3;
	}
	&.btn_around-15 {
		border-radius: 15px;
	}
	&.btn_main {
		color: #FFFFFF;
		border-color: $colorMain;
		background-color: $colorMain;
		&:hover {
			color: #000;
			background: none;
		}
	}
	&.btn_arrow {
		padding: 12px 69px 12px 25px;
		position: relative;
		.btn__arrow {
			position: absolute;
			top: 50%;
			right: 25px;
			transform: translateY(-50%);
			transition: $transitionMain;
		}
		&:hover {
			background-color: $colorMain;
			color: #fff;
			.btn__arrow {
				color: #fff;
				margin-right: -10px;
			}
		}
	}
	&.btn_to-cart {
		padding: 0px 0px 0px 27px;
		position: relative;
		border-radius: 0px;
		border: 0px;
		.btn__icon-to-cart {
			font-size: 18px;
			position: absolute;
			top: 50%;
			left: 0px;
			transform: translateY(-26%);
			transition: $transitionMain;
		}
		.btn__text {
			border-bottom: 1px solid $colorMain;
			font-size: 18px;
			line-height: 21px;
			color: $colorMain;
		}
		&:hover {
			background: none;
			.btn__icon-to-cart {
				left: -4px;
			}
		}
	}
	&.btn_bigcart {
		padding: 15px 46px;
		border-radius: 5px;
		background: #002C9C;
		border: 1px solid transparent;
		.btn__text {
			display: block;
			border-bottom: 1px solid #fff;
			font-size: 18px;
			line-height: 21px;
			color: #FFFFFF;
		}
		&:hover {
			background: none;
			border: 1px solid $colorMain;
			border-color: $colorMain;
			.btn__text {
				color: $colorMain;
				
				
			}
		}
	}
}


.btn-to-top {
	cursor: pointer;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border: 1px solid $colorMain;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	z-index: 5;
	bottom: 25px;
	right: -100px;
	transition: $transitionMain;
	.btn-to-top__content {
		font-size: 16px;
		color: #000;
		transition: $transitionMain;
	}
	&.btn-to-top_show {
		right: 15px;
	}
	&:hover {
		background-color: $colorMain;
		.btn-to-top__content {
			transition: $transitionMain;
			color: #fff;
		}
	}
}