.breadcrumb-block {
	padding: 54px 0 72px 0px;
	background-color: #F7F7F7;
	.breadcrumb {
		background: none;
		padding: 0px;
		margin: 0px;
		.breadcrumb-item,
		.breadcrumb-item a {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: $colorMain;
		}
		.breadcrumb-item+.breadcrumb-item {
			padding-left: .3rem;
			&::before {
				content: ">";
				color: #666;
				padding-right: 0.3rem;
			}
		}
		.breadcrumb-item a {
			color: #666;
			&:hover {
				text-decoration: none;
			}
		}
	}
}