div(class="breadcrumb-block")
	div(class="container")
		div(class="row")
			div(class="col-12 d-flex justify-content-center")
				h1(class="font-34 font-lg-48 mb-2")
					| Каталог
			div(class="col-12 d-flex justify-content-center")
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Главная</a></li>
						<li class="breadcrumb-item active" aria-current="page">Каталог</li>
					</ol>
				</nav>