div(class="container")
	div(class="row")
		div(class="col-12 mb-4")
			h2(class="page-title-rare text-center text-white")
				| Каталог продукции
		- let titleArr = ["Стеновые материалы", "Фасадные системы / Фасад", "Кровельные системы / Кровля", "Импрегнированная древесина", "Заборы и ограждения","Водосток", "Теплоизоляция", "Фасадные панели", "Метизы"]
		- let imgArr = ["images/catalog-1.jpg", "images/catalog-2.jpg", "images/catalog-3.jpg", "images/catalog-4.jpg", "images/catalog-5.jpg", "images/catalog-6.jpg", "images/catalog-7.jpg", "images/catalog-8.jpg", "images/catalog-9.jpg"]
		- for(let i = 0; i < 9; i++)
			div(class="col-12 col-md-6 col-lg-4 mb-4")
				a(class="catalog-item" href="#")
					img(class="lazyload img-fluid d-block" data-src=imgArr[i] alt="img" title="img")
					span(class="title")
						= titleArr[i]
