footer(class="footer")
	div(class="footer-top")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3 d-flex d-lg-block align-items-center flex-column pb-3 pb-lg-0")
					a(class="logo-block" href="#")
						img(class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img")
					p(class="font-18 pt-4 px-5 px-lg-0 text-center text-lg-left")
						| ТД ИНСИ -  все для строительства и ремонта
				div(class="col-12 col-lg-3 d-flex d-lg-block flex-column align-items-center")
					span(class="font-18 d-block mb-20")
						b
							| Следите за нами:
					div(class="d-flex align-items-center")
						a(class="social-item color-666 mr-3" href="#")
							span(class="icon-vk")
						a(class="social-item color-666" href="#")
							span(class="icon-instagram")
				div(class="col-12 col-lg-3 d-none d-lg-block")
					span(class="font-18 d-block mb-20")
						b
							| Меню
					div(class="d-flex flex-column align-items-start")
						each item, index in ["Главная", "Каталог", "О компании", "Контакты"]
							a(class="navigation__link" href="#")
								= item
				div(class="col-12 col-lg-3 d-none d-lg-block")
					span(class="font-18 d-block mb-20")
						b
							| Контакты
					div(class="d-flex flex-column align-items-start")
						p(class="navigation__link")
							| Челябинск,<br>ул. Строительная, д. 25А
						a(class="navigation__link" href="tel:88002002011")
							| 8 800 200 20 11
						a(class="navigation__link" href="mailto:info@gp.com.ru")
							| info@gp.com.ru
	div(class="footer-bottom")
		div(class="container")
			div(class="row")
				div(class="col-12 d-flex d-lg-block justify-content-center")
					a(href="#" class="font-14")
						| Политика конфиденциальности