div(class="menu-modal")
	div(class="menu-modal__content")
		<div class="d-flex justify-content-between align-items-center mb-4">
			a(class="logo-block" href="#")
				img(class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img")
			div(class="menu-modal__close")
		</div>
		nav(class="navigation navigation_mobile d-flex flex-column align-items-start")
			each item, index in ["Главная", "Каталог", "О компании", "Покупателям", "Контакты"]
				if(index == 1)
					a(class="navigation__link navigation__link_active" href="#")
						= item
				else
					a(class="navigation__link" href="#")
						= item
		div(class="menu-modal__block d-flex justify-content-center")
			a(class="phone-block d-flex align-items-center" href="tel:+73512003540")
				span(class="icon-phone-call mr-2 font-24")
				| +7 351 200-35-40
		div(class="d-flex align-items-center justify-content-center")
			a(class="social-item mr-3 color-black-full" href="#")
				span(class="icon-vk")
			a(class="social-item color-black-full" href="#")
				span(class="icon-instagram")