header(class="header")
	div(class="header__top d-none d-lg-block")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12 col-lg-2 col-xl-3 d-flex justify-content-center justify-content-lg-start")
					div(class="location text-white font-14 d-flex align-items-center")
						span(class="icon-check mr-2 font-24")
						b
							| Челябинск
				div(class="col-12 col-lg-6 d-flex justify-content-center")
					p(class="text-center text-white font-14 m-0")
						| Внимание! В связи с COVID-19 сроки поставки увеличены на три дня!
				div(class="col-12 col-lg-4 col-xl-3 d-flex justify-content-center justify-content-lg-end")
					div(class="d-flex align-items-center")
						a(class="social-item mr-3" href="#")
							span(class="icon-vk")
						a(class="social-item" href="#")
							span(class="icon-instagram")
					a(class="phone-block d-flex align-items-center" href="tel:+73512003540")
						span(class="icon-phone-call mr-2 font-24 text-white")
						| +7 351 200-35-40
	div(class="header__bottom")
		div(class="container-fluid")
			div(class="row align-items-center")
				div(class="col-6 col-lg-2")
					a(class="logo-block" href="#")
						img(class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img")
				div(class="col-lg-6 d-none d-lg-block")
					nav(class="navigation d-none d-lg-flex")
						each item, index in ["Главная", "Каталог", "О компании", "Покупателям", "Контакты"]
							if(index == 1)
								a(class="navigation__link navigation__link_active" href="#")
									= item
							else
								a(class="navigation__link" href="#")
									= item
				div(class="col-6 col-lg-4 d-flex align-items-center justify-content-end")
					<form action="#" method="" class="form-search d-none d-lg-flex">
						<button class="form-search__btn" type="submit"><i class="icon-loupe"></i></button>
						<input type="text" placeholder="Поиск по сайту..." class="form-search__input">
					</form>
					div(class="d-flex align-items-center")
						a(class="log-in d-none d-lg-block" href="#")
							span(class="icon-user text-white font-22 d-block")
						div(class="minicart")
							<!-- убрать класс minicart__link_btn если не нужно открывать меню -->
							a(class="minicart__link minicart__link_btn" href="#")
								span(class="icon-shopping-cart font-22 d-block")
							<span class="minicart__count">12</span>					
						div(id="burger" class="d-flex d-lg-none ml-3")
							span
	<div class="minicart__dropdown">
		div(class="minicart__dropdown_content")
			div(class="d-flex justify-content-end pb-3")
				span(class="minicart__dropdown_close")
					| +
			div
				ul(class="minicart__list-content")
					-for (let i = 0; i < 10; i++)
						li(class="minicart__product")
							<div class="minicart__preview">
								<a href="#">
									<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
								</a>
							</div>
							<div class="minicart__title">
								<a href="#">MVTH Leather watch - BouleVard Edit</a>
								<span> 1 × <span class="price">4 999 ₽</span></span>
							</div>
							form(class="minicart__delete" action="" method="")
								<a href="#">
									span(class="icon-bin")
								</a>
				<div class="minicart__total">
					span()
						| Цена
					span()
						| 4 999 ₽
				</div>
				<div class="minicart-btns d-flex flex-column">
					<a class="btn mb-3" href="#">Корзина</a>
					<a class="btn btn_main" href="#">Оформить</a>
				</div>
	</div>