.footer {
	border-top: 1px solid #C4C4C4;
	.navigation__link {
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		margin-bottom: 10px;
		&:hover {
			text-decoration: none;
		}
		&:last-child {
			margin: 0px;
		}
	}
	.footer-top {
		padding: 44px 0 50px 0px;
		@media (max-width: 991px) {
			padding: 40px 0 36px 0px;
		}
	}
	.footer-bottom {
		padding: 0px 0 40px 0;
		a {
			font-size: 14px;
			line-height: 16px;
			color: #666666;
			transition: $transitionMain;
			&:hover {
				text-decoration: none;
				color: $colorMain;
			}
		}
	}	
}