.pagination {
    .page-item {
        margin-right: 15px;
        &.active {
            .page-link {
                color: #fff;
                background: #002C9C;
                border-color: #002C9C;
            }
        }
        &:last-child {
            margin: 0px;
        }
    }
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 100%;
    }
    .page-link {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid #C4C4C4;
        background: #fff;

        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: $transitionMain;

        font-size: 18px;
        line-height: 21px;
        color: #000000;
        svg {
            width: 10px;
            path {
                transition: $transitionMain;
            }
        }
        &:hover {
            color: #002C9C;
            border-color: #002C9C;
        }
    }
}