extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-lg-100")
		div(class="row pb-50 pb-lg-120")
			div(class="col-12 col-lg-6")
				img(class="lazyload img-fluid" data-src="images/about.png" alt='img' title="img")
			div(class="col-12 col-lg-6")
				h1(class="font-36 pb-28 title-line mb-25")
					| Добро пожаловать на наш сайт
				p(class="font-14 mb-25")
					| С другой стороны новая модель организационной деятельности требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа новых предложений. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
				p(class="font-14")
					| С другой стороны новая модель организационной деятельности требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа новых предложений. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
		div(class="row pb-100")
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-free-delivery font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Доставка товара
						p(class="ont-16")
							| Бесплатная доставка при сумме заказа более 5000 рублей
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-production font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Собственное производство
						p(class="ont-16")
							| Вся продукция производится на собственном заводе
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-defense font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Гарантия на все
						p(class="ont-16")
							| На все товары действует специальная гарантия
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-best-price font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Низкая цена
						p(class="ont-16")
							| Гарантия низкой цены на товары представленные в каталоге
		div(class="row")
			div(class="col-12 d-flex justify-content-center")
				h2(class="font-36 pb-28 title-line title-line_center mb-0")
					| Отзывы
			div(class="col-12 pb-40")
				div(class="slider-feedback slider-default")
					-for(let i = 0; i < 4; i++)
						div(class="feedback-item")
							img(class="feedback-item__img img-fluid" src="images/feedback.jpg" alt="img" title="img")
							div(class="feedback-item__content")
								p()
									| С компанией ИНСИ работаем больше 10 лет и можем рекомендовать компанию как надежного поставщика кровельных материалов
								span(class="d-block")
									b
										| Игорь Морозов
								span(class="d-block")
									| ООО “Стройкавека”
		div(class="row")
			div(class="col-12 d-flex justify-content-center")
				h2(class="font-36 pb-28 title-line title-line_center mb-0")
					| Сертификаты и лицензии
			div(class="col-12 pb-40")
				div(class="slider-ser slider-default")
					-for(let i = 0; i < 8; i++)
						div(class="d-flex justify-content-center")
							a(data-fancybox="gallery" href="images/ser.png")
								img(class="img-fluid" src="images/ser.png" alt="img" title="img")
							section(class="pt-40 pb-80")
	div(class="container pb-120")
		div(class="row")
			div(class="col-12")
				h2(class="font-24 mb-5")
					b
						| Большой выбор строительных материалов (для SEO)
				p(class="color-rare mb-4")
					| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 
				p(class="color-rare")
					| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 