doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="shortcut icon" href="images/favicon.png" type="image/png")
		title 7 желаний
	body(id="page")
		include components/header-area.pug
		include components/header-mobile-area.pug
		div(class="content")
			block content
		include components/modal-area.pug
		include components/btn-to-top.pug
		include components/footer-area.pug
		script(src="js/main.min.js")
