extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-lg-80 pb-90")
		div(class="row")
			div(class="col-12 cart-line-wrapper pt-4 pt-lg-0")
				-for(let i = 0; i < 4; i++)
					div(class="row cart-line justify-content-center")
						div(class="col-12 col-lg-1  d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							a(href="#")
								img(class="lazyload img-fluid" data-src="images/product-cart.jpg" alt="img" title="img")
						div(class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0")
							a(href="#" class="cart-line__title")
								| Наименование товара
						div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							span(class="font-18")
								| 3 222 ₽ 
						div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							form(class="product-quantity pro-details-quality" action="" method="")
								<div class="picker-number picker-number_type-1 picker-number_type-1_hover-1">
									<button type="button" class="picker-number__button picker-number__button_dec">-</button>
									<input class="picker-number__input" type="number" value="1" step="1" min="1" max="100">
									<button type="button" class="picker-number__button picker-number__button_inc">+</button>
								</div>
						div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							span(class="font-18")
								| 3 222 ₽ 
						div(class="col-12 col-lg-1 d-flex justify-content-center align-items-center")
							button( class="cart-line__remove")
								span(class="icon-close")
			div(class="col-12 d-flex justify-content-end pt-3")
				div(class="font-24 d-flex align-items-center")
					span(class="mr-2")
						b
							| ИТОГО:
					span
						b
							| 15 000 руб.
	div(class="container pb-90")
		form(class="row" action="" method="")
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				h2(class="font-24 mb-4")
					b
						| Данные получателя
				div(class="row")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="email" placeholder="E-mail*")
					div(class="col-12 pb-4")
						input(class="form-control w-100" type="text" placeholder="Поулчатель*")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="tel" placeholder="Телефон*")
					div(class="col-12")
						textarea(class="form-control" placeholder="Комментарий")
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				h2(class="font-24 mb-4 pb-3")
					b
						| Способы оплаты
				div(class="d-flex flex-column align-items-lg-start mb-4 pb-2")
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="pay1" name="pay" class="custom-control-input" >
						<label class="custom-control-label" for="pay1">Оплата наличными</label>
					</div>
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="pay2" name="pay" class="custom-control-input" >
						<label class="custom-control-label" for="pay2">Оплата онлайн</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" id="pay3" name="pay" class="custom-control-input" >
						<label class="custom-control-label" for="pay3">Выписать счет</label>
					</div>
				h2(class="font-24 mb-4 pb-3")
					b
						| Варианты доставка
				div(class="d-flex flex-column align-items-lg-start")
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
						<label class="custom-control-label" for="delivery1">Доставка</label>
					</div>
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
						<label class="custom-control-label" for="delivery2">Самовывоз</label>
					</div>
			div(class="col-12 col-lg-4")
				h2(class="font-24 mb-4")
					b
						| Адрес доставки
				div(class="row")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="email" placeholder="Индекс")
					div(class="col-12 pb-4")
						input(class="form-control w-100" type="text" placeholder="Город")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="tel" placeholder="Адрес")
					div(class="col-12")
						textarea(class="form-control" placeholder="Комментарий")
			div(class='col-12 d-flex justify-content-lg-end pt-80')
				<div class="grand-totall d-flex flex-column">
					div(class="price d-flex justify-content-center mb-4")
						span(class="font-24 mr-2")
							b
								| ИТОГО:
						span(class="font-24")
							b
								| 5 555 ₽
					div(class="d-flex justify-content-center")
						<button class=" btn btn_bigcart">
							<span class="btn__text">Оформить заказ</span>
						</button>
