extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="catalog pt-50 pt-lg-130")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3 order-2 order-lg-1")
					div(class="catalog-filter")
						div(class="block mb-5")
							span(class="title")
								| Категории
							div(class="d-flex flex-column align-items-start")
								each item, index in ["Стеновые панели", "Фасадные системы", "Кровельные системы", "Импрегнированная древесина", "Заборы и ограждения", "Водосток", "Теплоизоляция", "Фасадные панели", "Метизы"]
									if index == 2
										a(class="item item_active" href="#")
											= item
									else
										a(class="item" href="#")
											= item
						div(class="block mb-5")
							span(class="title")
								| Брэнд
							div(class="d-flex flex-column align-items-start")
									div(class="custom-control custom-checkbox")
										input(type="checkbox" class="custom-control-input" id="customCheck1")
										label(class="custom-control-label" for="customCheck1")
											| Металлочерепица
									div(class="custom-control custom-checkbox")
										input(type="checkbox" class="custom-control-input" id="customCheck2" checked)
										label(class="custom-control-label" for="customCheck2")
											| Гибкая черепица
									div(class="custom-control custom-checkbox")
										input(type="checkbox" class="custom-control-input" id="customCheck3")
										label(class="custom-control-label" for="customCheck3")
											| Профнастил
									div(class="custom-control custom-checkbox")
										input(type="checkbox" class="custom-control-input" id="customCheck4")
										label(class="custom-control-label" for="customCheck4")
											| Фальцевая кровл
						div(class="block mb-5")
							span(class="title")
								| СТОИМОСТЬ
							div(class="price-filter")
								div(id="slider-range")
								div(class="d-flex justify-content-between pt-3")
									div(class="slider-price-input")
										label(for="toPrice")
											| от
										input(type="text" id="toPrice" value="0" step="1" max="150000")
									div(class="slider-price-input")
										label(for="fromPrice")
											| до
										input(type="text" id="fromPrice" value="150000" step="1" max="150000")
						div(class="block mb-5")
							span(class="title")
								| Брэнд
							div(class="d-flex align-items-start flex-wrap")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-1")
									input(type="checkbox" class="custom-control-input" id="checkColor1")
									label(class="custom-control-label" for="checkColor1")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-2")
									input(type="checkbox" class="custom-control-input" id="checkColor2" checked)
									label(class="custom-control-label" for="checkColor2")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-3")
									input(type="checkbox" class="custom-control-input" id="checkColor3")
									label(class="custom-control-label" for="checkColor3")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-4")
									input(type="checkbox" class="custom-control-input" id="checkColor4")
									label(class="custom-control-label" for="checkColor4")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-5")
									input(type="checkbox" class="custom-control-input" id="checkColor5")
									label(class="custom-control-label" for="checkColor5")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-6")
									input(type="checkbox" class="custom-control-input" id="checkColor6" checked)
									label(class="custom-control-label" for="checkColor6")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-7")
									input(type="checkbox" class="custom-control-input" id="checkColor7")
									label(class="custom-control-label" for="checkColor7")
								div(class="custom-control custom-checkbox custom-checkbox_color custom-checkbox_color_type-8")
									input(type="checkbox" class="custom-control-input" id="checkColor8")
									label(class="custom-control-label" for="checkColor8")
				div(class="col-12 col-lg-9 order-1 order-lg-2")
					div(class="row pb-5")
						div(class="col-3 col-lg-8 d-flex justify-content-end align-items-center")
							div(class="type-view-nav d-flex align-items-center")
								button(class="type-view-nav_btn active font-17 mr-4" data-view="list")
									span(class="icon-list")
								button(class="type-view-nav_btn  font-14" data-view="grid")
									span(class="icon-grid")
						div(class="col-9 col-lg-4 d-flex justify-content-end align-items-center")
							<div class="catalog-order">
								<label>Сортировать </label>
								<select>
									<option value="1">по цене</option>
									<option value="2">по алфавиту</option>
									<option value="3">по популярности</option>
								</select>
							</div>
					div(class="row")
						-for(let i = 0; i < 4; i++)
							div(class="col-12")
								div(class="list type-view-content__item")
									form(class="product product-catalog" action="" method="")
										div(class="preview-wrapper")
											a(class="preview position-relative" href="#")
												img(class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img")
												div(class="sale")
													| -10%
										div(class="product-catalog__content")
											div(class="w-100")
												a(class="title" href="#")
													| Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа
											span(class="price pb-2 mb-1")
												span(class="now")
													| 339 р./м2
												span(class="old")
													| 1 850 руб./м2
											p(class="description")
												| Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.
											div()
												button(class="submit" class="btn btn_to-cart")
													span(class="icon-shopping-cart mr-2 btn__icon-to-cart")
													span(class="btn__text")
														| в корзину
														div(class="row type-view-content list")
					div(class="row")
						-for(let i = 0; i < 4; i++)
							div(class="col-12 col-lg-4 ")
								div(class="type-view-content__item")
									form(class="product product-catalog" action="" method="")
										div(class="preview-wrapper")
											a(class="preview position-relative" href="#")
												img(class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img")
												div(class="sale")
													| -10%
										div(class="product-catalog__content")
											div(class="w-100")
												a(class="title" href="#")
													| Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа
											span(class="price pb-2 mb-1")
												span(class="now")
													| 339 р./м2
												span(class="old")
													| 1 850 руб./м2
											p(class="description")
												| Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.
											div()
												button(class="submit" class="btn btn_to-cart")
													span(class="icon-shopping-cart mr-2 btn__icon-to-cart")
													span(class="btn__text")
														| в корзину
						div(class="col-12 d-flex justify-content-center pb-5")
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#">
											span(class="icon-arrow-left")
										</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
										<a class="page-link" href="#">
											span(class="icon-arrow-right")
										</a>
									</li>
								</ul>
							</nav>
	section(class="pt-40 pb-80")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="font-24 mb-5")
						b
							| Большой выбор строительных материалов (для SEO)
					p(class="color-rare mb-4")
						| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 
					p(class="color-rare")
						| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 