extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="pt-80 pb-40 pb-lg-100")
		div(class="container")
			div(class="row")
				- let titleArr = ["Стеновые материалы", "Фасадные системы / Фасад", "Кровельные системы / Кровля", "Импрегнированная древесина", "Заборы и ограждения","Водосток", "Теплоизоляция", "Фасадные панели", "Метизы"]
				- let imgArr = ["images/catalog-1.jpg", "images/catalog-2.jpg", "images/catalog-3.jpg", "images/catalog-4.jpg", "images/catalog-5.jpg", "images/catalog-6.jpg", "images/catalog-7.jpg", "images/catalog-8.jpg", "images/catalog-9.jpg"]
				- for(let i = 0; i < 9; i++)
					div(class="col-12 col-md-6 col-lg-4 mb-4")
						a(class="catalog-item" href="#")
							img(class="lazyload img-fluid d-block" data-src=imgArr[i] alt="img" title="img")
							span(class="title")
								= titleArr[i]
	section(class="pt-40 pb-80")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="font-24 mb-5")
						b
							| Большой выбор строительных материалов (для SEO)
					p(class="color-rare mb-4")
						| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 
					p(class="color-rare")
						| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 