extends base.pug
block content
	section(class="page-welcome")
		div(class="hero-01-slider")
			<div class="hero-01 bg-color-1" data-title="01">
				<div class="container-fluid">
					<div class="row">
						div(class="col-12 col-lg-6 order-2 order-lg-1")
							<div class="hero-content-wrap">
								<div class="hero-01-text">
									<h1 class="title">Все для строительства дома</h1>
									p(class="text")
										| Широкий ассортимент в наличии: кровельные и фасадные материалы, газобетонные блоки, кирпич, метизы и теплоизоляция.
									p(class="text")
										| От крупнейшего производителя строительных материалов - компании ИНСИ.
									<div class="button-box pt-3">
										<a href="#" class="btn btn_arrow">Заказать <i class="btn__arrow icon-arrow-right"></i></a>
									</div>
								</div>								
							</div>
						div(class="col-12 col-lg-6 order-1 order-lg-2")
							<div class="image-one">
								<img src="images/welcome-img.png" class="img-fluid" alt="Image">
							</div>
					</div>
				</div>
			</div>
			<div class="hero-01 bg-color-1" data-title="02">
				<div class="container-fluid">
					<div class="row">
						div(class="col-12 col-lg-6 order-2 order-lg-1")
							<div class="hero-content-wrap">
								<div class="hero-01-text">
									<h2 class="title">Все для строительства дома</h2>
									p(class="text")
										| Широкий ассортимент в наличии: кровельные и фасадные материалы, газобетонные блоки, кирпич, метизы и теплоизоляция.
									p(class="text")
										| От крупнейшего производителя строительных материалов - компании ИНСИ.
									<div class="button-box pt-3">
										<a href="#" class="btn btn_arrow">Заказать <i class="btn__arrow icon-arrow-right"></i></a>
									</div>
								</div>								
							</div>
						div(class="col-12 col-lg-6 order-1 order-lg-2")
							<div class="image-one">
								<img src="images/welcome-img.png" class="img-fluid" alt="Image">
							</div>
					</div>
				</div>
			</div>
	section(class="bg-main pt-70 pb-70 pb-lg-80")
		include components/catalog-area.pug
	section(class="sale-block pt-50 pb-50 pt-lg-160 pb-lg-180")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-5 d-flex jsutify-content-center align-items-center")
					img(class="lazyload img-fluid" data-src="images/sale.png" alt='img' title="img")
				div(class="col-12 col-lg-7")
					h2()
						| Скидка на фасадные материалы "под дерево"
					p()
						| Металлосайдинг и фасадные панели под дерево (Дуб 3D, Золотой орех 3D) дадут возможность аккуратно облицевать фасад под дерево, полностью передав его фактуру. При этом рисунок не выцветает со временем, а полимерное покрытие надёжно защищает от коррозии.
					p()
						| Фасадные материалы, имитирующие дерево - подходящее решение, если вы хотите получить фактуру дерева, без его недостатков! Успейте приобрести фасадные материале по специальной цене!
					div(class="pt-70")
						a(class="btn btn_arrow" href="#")
							| Подробнее
							span(class="btn__arrow icon-arrow-right")
	section(class="pt-70 pb-50 pb-lg-100")
		div(class="container")
			div(class="row")
				div(class="col-12 mb-4")
					h2(class="page-title-rare text-center")
						| Хиты продаж
				div(class="col-12")
					div(class="slider-hot-product slider-default")
						- for(let i = 0; i < 9; i++)
							div(class="px-15")
								div(class="product product-mini-slider")
									a(class="preview" href="#")
										img(class="img-fluid d-block" src="images/slider-hot-product.png" alt="img" title="img")
									div(class="d-flex justify-content-between align-items-center")
										a(class="title" href="#")
											| Металлосайдинг
										span(class="price")
											span(class="now")
												| 339 р./м2
	section(class=" pt-70 pt-lg-100 pb-70 pb-lg-150")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-6 pb-lg-0 order-2 order-lg-1")
					h2(class="font-24 mb-5")
						b
							| О компании
					p(class="color-rare pb-40 pb-lg-80 m-0")
						| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 
					a(class="btn btn_arrow" href="#")
						| Подробнее
						span(class="btn__arrow icon-arrow-right")
				div(class="col-12 col-lg-6 order-1 order-lg-2 pb-4 pb-lg-0")
					img(class="lazyload w-100" data-src="images/about.jpg" alt="img" title="img")