extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-70")
		div(class="row align-items-start pb-50 pb-lg-150")
			div(class="col-12 col-lg-6")
				div(class="product-details-images px-5")
					-for(let i = 0; i < 6; i++)
						<a data-fancybox="gallery" href="images/product-catalog.jpg">
							<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
						</a>
				div(class="product-details-thumbs slider-default")
					-for(let i = 0; i < 6; i++)
						<div class="px-3">
							<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
						</div>
			div(class="col-12 col-lg-6")
				form(class="product product-big")
					h1(class="title")
						| Духи Chanel Chance
					div(class="price d-flex align-items-center")
						span(class="now order")
							| 1 999 ₽
						span(class="old")
							| 2 999 ₽
					div(class="options")
						table()
							tr()
								td()
									| Тип кровли:
								td()
									| Гибкая черепица
							tr()
								td()
									| В упаковке:
								td()
									| 12 листов
							tr()
								td()
									| Размер:
								td()
									| 120x120
					div(class="description-wrapper")
						p()
							| Краткое описание к товару, чтобы подчеркнуть его какие либо достоинства и качества. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.
					button(class="submit" class="btn btn_to-cart")
						span(class="icon-shopping-cart mr-2 btn__icon-to-cart")
						span(class="btn__text")
							| в корзину
		div(class="row pb-50 pb-lg-120")
			div(class="col-12")
				<ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Описание</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-det-tab" data-toggle="pill" href="#pills-det" role="tab" aria-controls="pills-det" aria-selected="false">Характеристики</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-ser-tab" data-toggle="pill" href="#pills-ser" role="tab" aria-controls="pills-ser" aria-selected="false">Видео</a>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
						p
							| Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.
						p
							| Данную коллекцию отличает не только уникальный вид нарезки и новые цвета, но и ее размеры. Крупные лепестки (до 420 мм!) будут особенно хорошо смотреться на больших домах и многометровых скатах. Теперь рисунок не будет сливаться в однотонный оттенок, и подчеркнет дизайн дома.
						p
							| Два варианта гонта с разной геометрией нарезки обеспечат хаотичный рисунок на крыше, свойственный натуральным кровельным материалам - дранке и сланцу, а также обеспечат надежную защиту вашему дому на протяжении многих десятилетий, ведь при монтаже черепицы SAPPORO достигается коэффициент перехлеста в 2,8! Это значит, что в каждой точке вашей кровли будут находится как минимум два лепестка черепицы.
					</div>
					<div class="tab-pane fade" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">...</div>
					<div class="tab-pane fade" id="pills-ser" role="tabpanel" aria-labelledby="pills-ser-tab">...</div>
				</div>
		div(class="row")
			div(class="col-12")
				h2(class="font-24 mb-50 mb-lg-70")
					b
						| Смотрите также
			div(class="col-12 pb-50 pb-lg-120")
				div(class="slider-view slider-default")
					-for(let i = 0; i < 5; i++)
						div(class="px-3")
							form(class="product product-catalog" action="" method="")
								div(class="preview-wrapper")
									a(class="preview" href="#")
										img(class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img")
								div(class="product-catalog__content")
									div(class="w-100")
										a(class="title" href="#")
											| Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа
									span(class="price pb-2 mb-1")
										span(class="now")
											| 339 р./м2
										span(class="old")
											| 1 850 руб./м2
									p(class="description")
										| Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.
									div()
										button(class="submit" class="btn btn_to-cart")
											span(class="icon-shopping-cart mr-2 btn__icon-to-cart")
											span(class="btn__text")
												| в корзину
						
  
