extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-50 pt-lg-100 pb-50 pb-lg-50")
		div(class="row")
			div(class="col-12 col-lg-3 pb-50")
				div(class="catalog-filter")
					div(class="d-flex flex-column align-items-start")
						each item, index in ["История заказов", "Профиль", "Выйти"]
							if index == 0
								a(class="item item_active" href="#")
									= item
							else
								a(class="item" href="#")
									= item
			div(class="col-12 col-lg-9")
				div(class="row pb-50 d-none d-lg-flex")
					div(class="col-12  col-m-6  col-lg-3")
						span(class="font-18")
							b
								| Номер
					div(class="col-12  col-m-6  col-lg-3")
						span(class="font-18")
							b
								| Статус	
					div(class="col-12  col-m-6 col-lg-3")
						span(class="font-18")
							b
								| Доставка	
					div(class="col-12  col-m-6  col-lg-3")
						span(class="font-18")
							b
								| Итого
				-for(let i = 0; i < 2; i++)
					div(class="row mb-35")
						div(class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-start")
							a(class="font-16 mb-2 link" href="#")
								| #2009/2
							span(class="font-16")
								| 21 января 2021
						div(class="col-12 col-sm-6 col-lg-3")
							span(class="font-16")
								| Новый	
						div(class="col-12 col-sm-6 col-lg-3")
							span(class="font-16")
								| Быстрый заказ	
						div(class="col-12 col-sm-6 col-lg-3")
							span(class="font-16")
								| 18 000 Р1
