// $grid-breakpoints: (
//   // Extra small screen / phone
//   xs: 0,
//   // Small screen / phone
//   sm: 576px,
//   // Medium screen / tablet
//   md: 768px,
//   // Large screen / desktop
//   lg: 992px,
//   // Extra large screen / wide desktop
//   xl: 1400px
// );

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1280px,
  xl: 1302px
);

/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";
@import "node_modules/swiper/swiper.scss";
@import "variables/_variables";
@import "mixin.scss";
@import "fonts/_fonts";

@import "library/_animate.css";
@import "library/slick/slick.scss";
@import "library/slick/slick-theme.scss";


@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";
@import "library/jquery-ui.css";
@import "pagination/_pagination.scss";


.slider-default {
	.slick-arrow {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 1px solid #C4C4C4;
		z-index: 2;
		opacity: 0px;

		font-size: 24px;
		color: #000;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: $transitionMain;
		&::before {
			display: none!important;
		}
		&.slick-next {
			right: 20px;
			@media (max-width: 1300px) {
				right: -10px;
			}
		}
		&.slick-prev {
			left: 20px;
			@media (max-width: 1300px) {
				left: -10px;
			}
		}
		&:hover {
			background-color: $colorMain;
			color: #fff;
		}
		@media (max-width: 991px) {
			opacity: 1;
		}
	}
	&:hover {
		.slick-arrow {
			opacity: 1;
			&.slick-next {
				right: 0px;
			}
			&.slick-prev {
				left: 0px;
			}
		}
	}
}


.bg-color-1 { background: #F0EBF4; }
.bg-color-2 { background: #5ca09a; }
.bg-color-3 { background: #c0a0a3; }
.hero-01-slider {
	position: relative;
	margin: 0px!important;
	
	.hero-01 {
		display: flex!important;
		align-items: center;
		padding: 0 210px 0 270px;
		@media (max-width: 1200px) {
			padding: 0 50px;
		}
		@media (max-width: 991px) {
			padding: 40px 0px 70px 0px;
		}
	}
	.title {
		font-style: normal;
		font-weight: normal;
		font-size: 59px;
		line-height: 68px;
		color: $colorMain;
		opacity: 0;
		margin-bottom: 27px;

		transition: $transitionMain;
		@media (max-width: 991px) {
			font-size: 38px;
			line-height: 44px;
		}
	}
	.text {
		font-size: 24px;
		line-height: 24px;
		color: $colorMain;
		opacity: 0;
		margin-bottom: 25px;

		transition: $transitionMain;
	}
	.button-box {
		opacity: 0;

		transition: $transitionMain;
	}
	.image-one {
		opacity: 0;

		transition: $transitionMain;
	}
	.slick-track {
		min-height: 648px;
		display: flex;
		align-items: stretch;
		.slick-slide {
			
			height: unset;
			& > div {
				height: 100%;
				.hero-01 {
					height: 100%;
				}
			}
			&.slick-active {
				.title {
					-webkit-animation-name: fadeInLeft;
					animation-name: fadeInLeft;
					-webkit-animation-duration: 0.7s;
					animation-duration: 0.7s;
					opacity: 1;
				}
				.text {                    
					-webkit-animation-name: fadeInRight;
					animation-name: fadeInRight;
					-webkit-animation-duration: 0.7s;
					animation-duration: 0.7s;
					opacity: 1;
				}
				.button-box {
					-webkit-animation-name: fadeInLeft;
					animation-name: fadeInLeft;
					-webkit-animation-duration: 0.7s;
					animation-duration: 0.7s;
					opacity: 1;
				}
				.image-one {
					-webkit-animation-name: fadeInRightTop30;
					animation-name: fadeInRightTop30;
					-webkit-animation-duration: 0.9s;
					animation-duration: 0.9s;
					opacity: 1;
				}
			}
		}
	}
	.slick-dots {
		width: unset;
		height: unset;
		position: absolute;

		display: flex;
		flex-direction: column;

		right: 100px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		li {
			margin-bottom: 20px;
			color: #666;
			.pager__item {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: $colorMain;

			position: relative;
			&:hover {
				text-decoration: none;
			}
			}
			.pager__item::after {
				right: 0;
				bottom: 0;
				content: "";
				height: 2px;
				width: 40px;
				background: $colorMain;
				position: absolute;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
			&.slick-active {
				.pager__item::after {
					width: 60px;
				}
			}
		}
	}    
}
@keyframes fadeInLeft { 
	0% { 
		opacity: 0;
		-webkit-transform:translate3d(-100%,0,0);
		transform:translate3d(-100%,0,0)
	}
	to {
		opacity: 1;
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
	}
}
@keyframes fadeInRight { 
	0% { 
		opacity: 0;
		-webkit-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0)
	}
	to {
		opacity: 1;
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
	}
}
@keyframes fadeInRightTop30 { 
	0% { 
		opacity: 0;
		-webkit-transform:translate3d(100%,-30%,0);
		transform:translate3d(100%,-30%,0)
	}
	to {
		opacity: 1;
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
	}
}





.catalog-item {
	display: block;
	position: relative;
	overflow: hidden;
	.title {
		position: absolute;
		width: 60%;
		bottom: 12px;
		left: 20px;
		min-height: 42px;

		font-size: 18px;
		line-height: 21px;
		color: #000000;

		@media (max-width: 991px) {
			width: unset;
			right: 20px;
		}
	}
	img {
		transition: $transitionMain;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}



.sale-block {
	background: rgba(232, 232, 232, 0.49);
	h2 {
		font-size: 48px;
		line-height: 65px;
		color: #343434;
		margin-bottom: 76px;
		@media (max-width: 991px) {
			font-size: 34px;
			line-height: 38px;
		}
	}
	p {
		font-size: 18px;
		line-height: 18px;
		color: #000000;
	}
}


.product {
	&.product-big {
		.title {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #292929;
			margin-bottom: 38px;
		}
		.price {
			margin-bottom: 19px;
			.now {
				font-weight: bold;
				font-size: 36px;
				line-height: 44px;
				color: #002C9C;
			}
			.old {
				font-weight: bold;
				font-size: 24px;
				line-height: 32px;
			}
		}
		.options {
			padding-bottom: 60px;
			table {
				tr {
					td {
						font-size: 14px;
						line-height: 16px;
						color: #000000;
						padding-bottom: 15px;
						&:first-child {
							color: #666666;
							padding-right: 10px;
						}
					}
				}
			}
		}
		.description-wrapper {
			padding: 17px 0px;
			border-top: 1px solid #E5E5E5;
			border-bottom: 1px solid #E5E5E5;
			margin-bottom: 70px;
		}
		.btn_to-cart {
			background: #002C9C;
			border-radius: 5px;
			padding: 15px 43px 15px 70px;

			color: #fff;
			.btn__text {
				display: block;
				color: #fff;
				border-color: #fff;
			}
			.btn__icon-to-cart {
				left: 43px;
			}
			&:hover {
				.btn__icon-to-cart  {
					left: 36px;
				}
			}
		}
	}
	&.product-mini-slider {
		.preview {
			border: 1px solid #E5E5E5;
			padding: 20px 10px;
			display: flex;
			justify-content: center;
			margin-bottom: 15px;
		}
		.title {
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #000000;
			&:hover {
				color: $colorMain;
			}
		}
		.price {
			.now {
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				color: #82BD52;
			}
		}
	}
	&.product-catalog {
		border: 1px solid #E5E5E5;
		padding: 22px;
		.preview-wrapper {
			width: 100%;
			.preview {
				width: 100%;
				display: block;
				margin-bottom: 16px;
				@media (max-width: 991px) {
					display: flex;
					justify-content: center;
				}
			}
		}
		.title {
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 6px;

			height: 50px;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			overflow: hidden;
			-ms-line-clamp: 2;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			display: -webkit-box;
			display: box;
			word-wrap: break-word;
			-webkit-box-orient: vertical;
			box-orient: vertical;
		}
		.description {
			display: none;
		}
		.price {
			margin-bottom: 7px;
			.now {
				font-weight: normal;
				font-size: 18px;
				line-height: 21px;
				color: #002C9C;
			}
			.old {
				margin-left: 24px;
				font-size: 14px;
				font-weight: normal;
				line-height: 16px;
				text-decoration-line: line-through;
				color: #FF2F2F;
			}
		}
	}
	.price {
		display: flex;
		.now {
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #82BD52;
		}
		.old {
			margin-left: 24px;
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: line-through;
			color: #FF2F2F;
		}
	}
	.sale {
		position: absolute;
		top: 20px;
		left: 0px;
		background: #EB5757;
		padding: 4px 18px;

		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
	}
}


.type-view-nav_btn {
	padding: 0px;
	margin: 0px;
	background: none;
	border: 0px;
	color: #C4C4C4;
	&.active {
		color: #000;
	}
	&:focus {
		outline: none;
	}
}
.list {
	&.type-view-content__item {
		.product-catalog {
			display: flex;
			padding: 0px;
			border: 0px;
			margin-bottom: 50px;
			.preview-wrapper {
				width: 30%;
				min-width: 30%;
				.preview {
					margin: 0px;
					padding: 21px 24px;
					border: 1px solid #E5E5E5;
					.sale {
						position: absolute;
						top: 40px;
						left: 24px;
					}
					@media (max-width: 991px) {
						display: flex;
						justify-content: center;
					}
				}
				@media (max-width: 991px) {
					width: 100%;
					max-width: 100%;
				}
			}
			.product-catalog__content {
				padding-left: 75px;
				.description {
					display: block;
					margin-bottom: 19px;

					font-size: 18px;
					line-height: 21px;
					color: #666666;
				}
				.btn_to-cart {
					background: #002C9C;
					border-radius: 5px;
					padding: 15px 43px 15px 70px;

					color: #fff;
					.btn__text {
						display: block;
						color: #fff;
						border-color: #fff;
					}
					.btn__icon-to-cart {
						left: 43px;
					}
					&:hover {
						.btn__icon-to-cart  {
							left: 36px;
						}
					}
				}
				@media (max-width: 1200px) {
					padding-left: 15px;
				}
			}
			@media (max-width: 991px) {
					flex-wrap: wrap;
			}
		}
	}
}









.catalog-filter {
	
	.title {
		display: block;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 28px;
		text-transform: uppercase;
	}

	.item {
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin-bottom: 15px;
		border-bottom: 1px solid transparent;
		&.item_active {
			margin-left: 8px;
			color: #002C9C;
			border-color: #002C9C;
		}
		&:hover {
			text-decoration: none;
		}
	}
}










.product-details-thumbs {
	.slick-slide {
		opacity: 0.7;
		&.slick-current {
			&.slick-active {
				opacity: 1;
			}
		}
	}
}




.nav-pills  {
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 35px;
	.nav-item {
		.nav-link {
			font-size: 16px;
			line-height: 19px;
			color: #292929;
			padding: 0 25px 28px 25px;
			background: none;
			border-radius: 0px;
			border-bottom: 2px solid transparent;
			&:hover {
				color: #002C9C;
			}
			&.active {
				color: #002C9C;
				font-weight: bold;
				border-bottom: 2px solid #002C9C;
			}
		}
	}
}








.cart-line-wrapper {
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding-bottom: 29px;
}
.cart-line {
	margin-bottom: 50px;
	.cart-line__title {
		font-size: 18px;
		line-height: 21px;
		color: #292929;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
	.cart-line__remove {
		border: 0px;
		padding: 0px;
		margin: 0px;
		background: none;
		
		font-size: 11px;
		color: #000;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
}



.slider-feedback {
	.slick-list {
		padding: 20px 0px 60px 0px;
		.slick-slide  {
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}

.feedback-item {
	padding-top: 13px;
	padding-left: 77px;
	position: relative;
	.feedback-item__img {
		position: absolute;
		top: 0px;
		left: 0px;
		@media (max-width: 991px) {
			position: unset;
		}
	}
	.feedback-item__content {
		background: #FFFFFF;
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
		padding: 27px 25px 37px 85px;
		@media (max-width: 991px) {
			padding: 10px;
		}
	}
	@media (max-width: 991px) {
		padding: 0px;
	}

}






.slider-ser {
	.slick-list {
		padding: 30px 0px 40px 0px;
		.slick-slide  {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}